
<div class="container">
<div class="col-md-8">   

<h1>Add Grocery</h1>

<form name="ctrl.addForm" ng-submit="ctrl.addForm.$valid && ctrl.addNewGrocery()">

    <!-- BARCODE-->
              
    <div class="form-group">
        <div class="col-sm-4-md-4-lg-4">  
            <label for="barcode">Barcode</label>
          
            <input id="upc12" name="upc12" type="number" class="form-control" ng-model="ctrl.grocery.upc12" minlength="12" required/> 
                      
            <div class="validation" data-ng-show="ctrl.addForm.upc12.$touched || ctrl.addForm.$submitted">
            <div data-ng-show="ctrl.addForm.upc12.$error.required">
                <span class="glyphicon glyphicon-alert"></span>Barcode is required
            </div>
            <div data-ng-show="ctrl.addForm.upc12.$error.minlength">
                <span class="glyphicon glyphicon-alert"></span> Barcode must have a minimum of 12 digits
            </div>
            <div data-ng-show="ctrl.addForm.upc12.$error.number">
                    <span class="glyphicon glyphicon-alert"></span> Barcode must be numbers only
            </div>
            </div>
        </div>
    </div>
   
        <!-- BRAND NAME -->
   
        <div class="form-group">
            <label for="brand">Brand Name</label>
            <input id="brand" name="brand" type="text" class="form-control" ng-model="ctrl.grocery.brand" required /> 
                          
            <div class="validation" data-ng-show="ctrl.addForm.brand.$touched || ctrl.addForm.$submitted">
                <div data-ng-show="ctrl.addForm.brand.$error.required">
                <span class="glyphicon glyphicon-alert"></span>Brand name is required
                </div>
            </div>
            </div>

        <!-- PRODUCT NAME -->
   
        <div class="form-group">
                <label for="productr">Product Name</label>
                <input id="name" name="name" type="text" class="form-control" ng-model="ctrl.grocery.name" required /> 
                              
                <div class="validation" data-ng-show="ctrl.addForm.name.$touched || ctrl.addForm.$submitted">
                    <div data-ng-show="ctrl.addForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Product name is required
                    </div>
                </div>
                </div>
       
        <!-- SUBMIT -->

        <div class="form-group">
                <button type="submit" class="btn btn-success">Add</button> 
                {{ ctrl.status.message }}
        </div>

</form>

</div>
</div>