<div class="container">
        <div class="col-md-8">   
    
        <h2>Edit Grocery</h2>
    
            <form name="ctrl.editform" novalidate>
    
                <!-- BARCODE-->
                
                <div class="form-group">
                    <label for="barcode">Barcode</label>
                    <div class="col-sm-4-md-4-lg-4">
                    <input id="upc12" name="upc12" type="number" class="form-control" ng-model="ctrl.grocery.upc12" required /> 
                              
                    <div class="validation" data-ng-show="ctrl.editform.upc12.$touched || ctrl.editform.$submitted">
                    <div data-ng-show="ctrl.editform.upc12.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Barcode is required
                    </div>
                    </div>
                </div>
                </div>
           
                <!-- BRAND NAME -->
           
                <div class="form-group">
                    <label for="brand">Brand Name</label>
                    <input id="brand" name="brand" type="text" class="form-control" ng-model="ctrl.grocery.brand" required /> 
                                  
                    <div class="validation" data-ng-show="ctrl.editform.brand.$touched || ctrl.editform.$submitted">
                        <div data-ng-show="ctrl.editform.brand.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Brand name is required
                        </div>
                    </div>
                    </div>

                <!-- PRODUCT NAME -->
           
                <div class="form-group">
                        <label for="productr">Product Name</label>
                        <input id="name" name="name" type="text" class="form-control" ng-model="ctrl.grocery.name" required /> 
                                      
                        <div class="validation" data-ng-show="ctrl.editform.name.$touched || ctrl.editform.$submitted">
                            <div data-ng-show="ctrl.editform.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>Product name is required
                            </div>
                        </div>
                        </div>
               
                <!-- SUBMIT -->
    
                <div class="form-group">
                    <button type="button" ng-click="ctrl.editform.$valid  && ctrl.saveGrocery()" class="btn btn-success">Save</button>
                    <button type="button" ng-click="ctrl.cancelGrocery()" class="btn btn-danger">Cancel</button>
                </div>
    
            </form>
    
        </div> 
    
    </div>